flows.json
[{"id":"b73e9be9.87e828","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8eaef9bf.d922b8","type":"tab","label":"Broker","disabled":false,"info":""},{"id":"24349c81.bfe144","type":"tab","label":"Controller","disabled":false,"info":""},{"id":"3be61f23.bc789","type":"tab","label":"Camera Device","disabled":false,"info":""},{"id":"af7a7b61.a273c8","type":"tab","label":"Door Device","disabled":false,"info":""},{"id":"c370f0b0.164c2","type":"tab","label":"Bell Device","disabled":false,"info":""},{"id":"6bbf523b.35a20c","type":"subflow","name":"Subflow 1","info":"","in":[{"x":50,"y":30,"wires":[{"id":"80d2b5f8.a5a8b8"}]}],"out":[{"x":320,"y":40,"wires":[{"id":"80d2b5f8.a5a8b8","port":0}]}]},{"id":"7c314fbd.0c5bd","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b7802324.11582","type":"ui_group","z":"","name":"Bell","tab":"508ebd37.2ed9f4","disp":true,"width":"6","collapse":false},{"id":"508ebd37.2ed9f4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"159183e6.294b3c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7d25e070.f8d27","type":"ui_group","z":"","name":"Door","tab":"508ebd37.2ed9f4","order":2,"disp":true,"width":"6","collapse":false},{"id":"a7904d9e.a0a44","type":"inject","z":"af7a7b61.a273c8","name":"Door opened","topic":"","payload":"OPENED","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":200,"wires":[["8e024ab7.b49888","30b493b8.21bfac"]]},{"id":"9a99cef.29a293","type":"inject","z":"af7a7b61.a273c8","name":"Door closed","topic":"","payload":"CLOSED","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":280,"wires":[["14df0207.86cbee","30b493b8.21bfac"]]},{"id":"332e458f.47a3ca","type":"inject","z":"c370f0b0.164c2","name":"ring","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":120,"wires":[["9d77a3d6.d7ba7","77d0db73.1096e4","4c33fb0a.831814"]]},{"id":"77d0db73.1096e4","type":"debug","z":"c370f0b0.164c2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":450,"y":120,"wires":[]},{"id":"9d77a3d6.d7ba7","type":"mqtt out","z":"c370f0b0.164c2","name":"","topic":"/bell","qos":"0","retain":"true","broker":"7c314fbd.0c5bd","x":430,"y":200,"wires":[]},{"id":"766a7fd5.8a273","type":"debug","z":"8eaef9bf.d922b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":330,"y":120,"wires":[]},{"id":"30b493b8.21bfac","type":"mqtt out","z":"af7a7b61.a273c8","name":"","topic":"/door","qos":"0","retain":"true","broker":"7c314fbd.0c5bd","x":570,"y":240,"wires":[]},{"id":"a061afcd.de5fe","type":"mqtt in","z":"24349c81.bfe144","name":"","topic":"/door","qos":"2","datatype":"auto","broker":"7c314fbd.0c5bd","x":90,"y":60,"wires":[["e68d1ca6.076b9","a29118a3.4e3f88"]]},{"id":"141a150a.8aa84b","type":"mqtt in","z":"24349c81.bfe144","name":"","topic":"/bell","qos":"2","datatype":"auto","broker":"7c314fbd.0c5bd","x":90,"y":180,"wires":[["b661fcd8.6471","d6dd4d4c.63853"]]},{"id":"e68d1ca6.076b9","type":"switch","z":"24349c81.bfe144","name":"switch door status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OPENED","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":40,"wires":[["3c38f101.10562e"]]},{"id":"ed1dca67.b1fd88","type":"delay","z":"24349c81.bfe144","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":180,"wires":[["d0d79605.b92748"]]},{"id":"d0d79605.b92748","type":"switch","z":"24349c81.bfe144","name":"last ring still exists","property":"lastRing","propertyType":"flow","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":180,"wires":[["8b536e9b.f3a85"]]},{"id":"b661fcd8.6471","type":"change","z":"24349c81.bfe144","name":"set last ring","rules":[{"t":"set","p":"lastRing","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":180,"wires":[["ed1dca67.b1fd88"]]},{"id":"3c38f101.10562e","type":"change","z":"24349c81.bfe144","name":"reset last ring","rules":[{"t":"set","p":"lastRing","pt":"flow","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":40,"wires":[[]]},{"id":"5c99da53.f38784","type":"change","z":"24349c81.bfe144","name":"reset last ring","rules":[{"t":"set","p":"lastRing","pt":"flow","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":440,"wires":[[]]},{"id":"3a2ac05e.94199","type":"mqtt in","z":"24349c81.bfe144","name":"","topic":"/camera","qos":"2","datatype":"json","broker":"7c314fbd.0c5bd","x":100,"y":340,"wires":[["b5bd908a.eb32c"]]},{"id":"e746172a.8a7208","type":"mqtt in","z":"3be61f23.bc789","name":"","topic":"/camera","qos":"2","datatype":"auto","broker":"7c314fbd.0c5bd","x":80,"y":260,"wires":[["2a0108c0.02f758"]]},{"id":"1ec5e75f.6c6a59","type":"file in","z":"3be61f23.bc789","name":"load dog img","filename":"C:\\my\\doorbell\\dog.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":850,"y":140,"wires":[["1d5ce409.23a16c"]]},{"id":"99866cfb.10445","type":"random","z":"3be61f23.bc789","name":"","low":"1","high":"3","inte":"true","property":"payload","x":540,"y":180,"wires":[["8e5c7012.b113f"]]},{"id":"8e5c7012.b113f","type":"switch","z":"3be61f23.bc789","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":670,"y":180,"wires":[["1ec5e75f.6c6a59"],["efdb8df0.135a1"],["5dc18c9.b1cf874"]]},{"id":"efdb8df0.135a1","type":"file in","z":"3be61f23.bc789","name":"load man img","filename":"C:\\my\\doorbell\\man.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":860,"y":180,"wires":[["1d5ce409.23a16c"]]},{"id":"5dc18c9.b1cf874","type":"file in","z":"3be61f23.bc789","name":"load man 2 img","filename":"C:\\my\\doorbell\\man2.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":860,"y":220,"wires":[["1d5ce409.23a16c"]]},{"id":"431b97d.7e8a568","type":"template","z":"24349c81.bfe144","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Ey, lass mich rein!</h1>\n<img width=\"500px\"\n    alt=\"ringer\" \n    src=\"cid:pic\" />\n<h3>Heute um {{lastRing.hours}}:{{lastRing.minutes}} Uhr hat jemand an Ihrer Tür geklingelt ! </h3>\n<h3>... und keiner hat Ihn reingelassen :-(</h3>","output":"str","x":520,"y":440,"wires":[["bfaca2ab.96d88","d27de88.3ce0618"]]},{"id":"d19c8d6c.f1bbf","type":"function","z":"24349c81.bfe144","name":"add attachments","func":"msg.attachments = [\n    {\n        filename: 'ringer.png',\n        content: msg.payload.picture,\n        encoding: 'base64',\n        cid: 'pic'\n    },\n]\nmsg.payload = null\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":340,"wires":[["682c8f9a.c0f36"]]},{"id":"74a4df8e.749bb","type":"change","z":"24349c81.bfe144","name":"add topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"Jemand hat geklingelt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":440,"wires":[["431b97d.7e8a568"]]},{"id":"682c8f9a.c0f36","type":"switch","z":"24349c81.bfe144","name":"last ring exists","property":"lastRing","propertyType":"flow","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":840,"y":340,"wires":[["26ae7275.25a9fe"]]},{"id":"26ae7275.25a9fe","type":"change","z":"24349c81.bfe144","name":"add last ring to msg","rules":[{"t":"set","p":"lastRing","pt":"msg","to":"lastRing","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":340,"wires":[["c5f3e7dd.2ec9e8","5c99da53.f38784"]]},{"id":"d27de88.3ce0618","type":"debug","z":"24349c81.bfe144","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":500,"wires":[]},{"id":"4c33fb0a.831814","type":"file in","z":"c370f0b0.164c2","name":"get ring audio","filename":"C:\\my\\doorbell\\ring.wav","format":"","chunk":false,"sendError":false,"encoding":"none","x":460,"y":280,"wires":[["99909621.080b68"]]},{"id":"8e024ab7.b49888","type":"file in","z":"af7a7b61.a273c8","name":"get door close audio","filename":"C:\\my\\doorbell\\door-open.wav","format":"","chunk":false,"sendError":false,"encoding":"none","x":560,"y":120,"wires":[["132d0b14.ccf085"]]},{"id":"14df0207.86cbee","type":"file in","z":"af7a7b61.a273c8","name":"get door close audio","filename":"C:\\my\\doorbell\\door-close.wav","format":"","chunk":false,"sendError":false,"encoding":"none","x":560,"y":360,"wires":[["132d0b14.ccf085"]]},{"id":"f7950748.7f0418","type":"ui_button","z":"c370f0b0.164c2","name":"","group":"b7802324.11582","order":0,"width":0,"height":0,"passthru":false,"label":"ring button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":110,"y":280,"wires":[["77d0db73.1096e4","9d77a3d6.d7ba7","4c33fb0a.831814"]]},{"id":"327f5fa8.4355b","type":"ui_button","z":"af7a7b61.a273c8","name":"","group":"7d25e070.f8d27","order":1,"width":0,"height":0,"passthru":false,"label":"door open button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"OPENED","payloadType":"str","topic":"","x":210,"y":140,"wires":[["8e024ab7.b49888","30b493b8.21bfac"]]},{"id":"ea68f25f.1b27a","type":"ui_button","z":"af7a7b61.a273c8","name":"","group":"7d25e070.f8d27","order":1,"width":0,"height":0,"passthru":false,"label":"door close button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"CLOSED","payloadType":"str","topic":"","x":210,"y":340,"wires":[["14df0207.86cbee","30b493b8.21bfac"]]},{"id":"80d2b5f8.a5a8b8","type":"change","z":"6bbf523b.35a20c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Hello","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":20,"wires":[[]]},{"id":"19dda8b.c52e457","type":"mosca in","z":"8eaef9bf.d922b8","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":120,"y":120,"wires":[["766a7fd5.8a273"]]},{"id":"c5f3e7dd.2ec9e8","type":"moment","z":"24349c81.bfe144","name":"","topic":"","input":"lastRing","inputType":"msg","inTz":"Europe/Berlin","adjAmount":0,"adjType":"days","adjDir":"add","format":"object","locale":"de_DE","output":"lastRing","outputType":"msg","outTz":"Europe/Berlin","x":160,"y":440,"wires":[["74a4df8e.749bb"]]},{"id":"bfaca2ab.96d88","type":"e-mail","z":"24349c81.bfe144","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"","dname":"send mail","x":680,"y":440,"wires":[]},{"id":"63ccabb1.400ea4","type":"base64","z":"24349c81.bfe144","name":"","action":"str","property":"payload.picture","x":420,"y":340,"wires":[["d19c8d6c.f1bbf","218e5a8.4b651a6"]]},{"id":"99909621.080b68","type":"play audio","z":"c370f0b0.164c2","name":"","voice":"0","x":670,"y":280,"wires":[]},{"id":"132d0b14.ccf085","type":"play audio","z":"af7a7b61.a273c8","name":"","voice":"0","x":850,"y":240,"wires":[]},{"id":"1d5ce409.23a16c","type":"change","z":"3be61f23.bc789","name":"store image","rules":[{"t":"set","p":"picture","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":180,"wires":[["e2f490dd.c7a8a"]]},{"id":"7f601757.7cd688","type":"mqtt out","z":"24349c81.bfe144","name":"","topic":"/camera","qos":"2","retain":"","broker":"7c314fbd.0c5bd","x":440,"y":240,"wires":[]},{"id":"fc0dc9e9.bb5868","type":"switch","z":"3be61f23.bc789","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"STORE_PICTURE","vt":"str"},{"t":"eq","v":"GET_PICTURE","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":260,"wires":[["99866cfb.10445"],["4d49ab9e.30e184"]]},{"id":"26783dd0.8c51b2","type":"mqtt out","z":"3be61f23.bc789","name":"","topic":"/camera","qos":"2","retain":"","broker":"7c314fbd.0c5bd","x":940,"y":300,"wires":[]},{"id":"120ec868.8dccd8","type":"mqtt out","z":"24349c81.bfe144","name":"","topic":"/camera","qos":"2","retain":"","broker":"7c314fbd.0c5bd","x":980,"y":180,"wires":[]},{"id":"e2f490dd.c7a8a","type":"debug","z":"3be61f23.bc789","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":400,"wires":[]},{"id":"4d49ab9e.30e184","type":"function","z":"3be61f23.bc789","name":"create msg answer","func":"msg.payload = {\n    \"picture\": flow.get(\"picture\") || 0,\n    \"action\": \"POST_PICTURE\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":300,"wires":[["e2f490dd.c7a8a","26783dd0.8c51b2"]]},{"id":"2a0108c0.02f758","type":"json","z":"3be61f23.bc789","name":"","property":"payload","action":"obj","pretty":false,"x":230,"y":260,"wires":[["fc0dc9e9.bb5868"]]},{"id":"218e5a8.4b651a6","type":"debug","z":"24349c81.bfe144","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":300,"wires":[]},{"id":"d6dd4d4c.63853","type":"function","z":"24349c81.bfe144","name":"set action","func":"msg.payload = {\"action\":\"STORE_PICTURE\"}\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":240,"wires":[["7f601757.7cd688"]]},{"id":"8b536e9b.f3a85","type":"function","z":"24349c81.bfe144","name":"set action","func":"msg.payload = {\"action\":\"GET_PICTURE\"}\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":180,"wires":[["120ec868.8dccd8"]]},{"id":"b5bd908a.eb32c","type":"switch","z":"24349c81.bfe144","name":"","property":"payload['action']","propertyType":"msg","rules":[{"t":"eq","v":"POST_PICTURE","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":340,"wires":[["63ccabb1.400ea4"]]},{"id":"a29118a3.4e3f88","type":"change","z":"24349c81.bfe144","name":"set door status","rules":[{"t":"set","p":"doorStatus","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":100,"wires":[[]]}]